<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>AVISO</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <!--<div class="image">
        <img src="img/bannerTiendaHumboldt.png" alt="">
    </div>-->
    <main class="form-signin w-100 m-auto text-center shadow-lg  mb-10">
        <form id="formLogin" action="/login" method="post">
            <img class="mb-4" src="img/LOGO-COLECCIONES-1.png" alt="" width="300" height="auto">
            <h1 class="h3 mb-3 fw-normal">! UPSS !</h1>
            <p>El usuario que acabas de registrar se encuentra en nuestra Base de Datos, puedes restaurar tu Contraseña en el siguiente LINK o volver al inicio si crees que es un error:
                <br>
                <br>
                <a href="olvido" class="enlace">¿Olvido su contraseña?</a></p>
                <a href="login" class="enlace">Volver</a></p>

        
        
        
    </main>
    
</body>
</html>