
<body>
    <h1>ENTRASTE AL APP SICREB</h1> 
    <div>
        <h2> Bienvenido
        </h2>
    </div>

    <div >
        <a type="button" class="px-3 btn btn-danger" href="logout">Cerrar Sesión</a>
    </div>


</body>
